:root {
  --branding-color: #706c61;
  --secondary-color: #e1f4f3;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  color: #333333;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-size: 45px;
}
p {
  font-family: var(--default-font-family);
  font-size: 25px;
  line-height: 1.5;
}

.topPage,
.navbar {
  background-color: var(--secondary-color);
}

.topPage {
  text-align: center;
  line-height: 1.5;
  padding: 140px 0;
}

.topPage h1 {
  font-size: 80px;
}
.topPage p {
  font-size: 35px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 25px;
}
.btn-branding:hover {
  color: #333333;
}

.projectsWord {
  font-size: 35px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 25px;
}

.projectDescription {
  padding: 0 60px;
}

@media (max-width: 900px) {
  .topPage h1 {
    font-size: 50px;
  }
  .topPage p {
    font-size: 25px;
  }
  .projectDescription {
    padding: 0;
    text-align: center;
  }
  .h2 {
    font-size: 35px;
  }
  .topPage {
    padding: 70px 0;
    margin-bottom: 50px;
  }
}
